.header{
    background-image: 
    linear-gradient(to right bottom, rgba($color-primary-light,0.8),rgba($color-primary-dark,0.8)),
    url('../img/background1.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    height: 95vh;
    -webkit-clip-path: ellipse(37% 32% at 49% 50%);
    clip-path: ellipse(60% 60% at 50% 33%);
    &__logo{
        height: 70px;
        &-box{
            position: absolute;
            top: 30px;
            left: 30px;
        }
    }
    &__text-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}
.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 60px;
    /* animation: animationtest 2s ; */
    &--main{
        display: block;
        font-size: 6.2rem;
        font-weight: 400;
        letter-spacing: 15px;
        animation: moveInLeft 1s ease-out;
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 18px;
        animation: moveInRight 1s ease-out
    }

}